<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>{{ question }}</h3>

{% if options %}
    {% for option in options %}
        <input type="radio"
               name="answer"
               value="{{ option.keys()|list|first }}"
               required>
        {{ option.values()|list|first }}<br>
    {% endfor %}
{% else %}
    <input type="text" name="answer" required>
{% endif %}

<button type="submit">
    {% if last_question %}
        Submit
    {% else %}
        Next
    {% endif %}
</button>
</body>
</html>